body
{ margin:0; }

a
{ color: inherit; }

h1
{ font-size: 1.6em; }
h2
{ font-size: 1.39em; }
h3
{ font-size: 1.21em; }
h4
{ font-size: 1.05em; }
h5
{ font-size: 0.91em; }
h6
{ font-size: 0.79em; }
h7
{ display: block; font-size: 0.69em; }
h8
{ display: block; font-size: 0.6em; }

:-webkit-any(article,aside,nav,section)>:-webkit-any(h1,h2,h3,h4,h5,h6,h7,h8)
{
	width: fit-content;
	margin-top: 1em;
	line-height: 1.2em;
	border-bottom: 0.1em solid var(--theme-color);
}

:matches(article,aside,nav,section)>:matches(h1,h2,h3,h4,h5,h6,h7,h8)
{
	width: fit-content;
	margin-top: 1em;
	line-height: 1.2em;
	border-bottom: 0.1em solid var(--theme-color);
}

h1>small
,
h2>small
,
h3>small
,
h4>small
,
h5>small
,
h6>small
,
h7>small
{ display:block;width: max-content; font-size: 0.5em; text-indent: 50%; }

p
{ text-indent: 2em; }

:focus
{
	outline: none;
}
