body
{
	--body-bgc: hsla(205,100%,80%,1);
	--section-bgc: hsla(205,80%,60%,1);
	--fgc: hsla(0,0%,100%,1);
}

body>header>nav>a
{
	color: hsla(205,80%,40%,1);
}

body>main>article
{
	box-shadow: 0 0.1em 0.2em hsla(205,100%,20%,0.2);
}

body>main>table>thead
{
	--fgc: hsla(205,80%,60%,1);
	background-color: hsla(205,0%,100%,1);
	box-shadow: 0 0.1em 0.5em hsla(205,100%,20%,0.2);
}

body>main>table>tbody>tr:nth-child(even)
{
	background-color: hsla(205,100%,100%,0.1);
}

body>main>form>fieldset
{
	box-shadow:
		0 1px 1px 1px var(--body-bgc)
	,
		0 0 0 0.5em hsla(205,80%,60%,0.5)
	;
}

body>main>form>fieldset>legend
{
	border-color: hsla(0,0%,100%,0.5);
	color: var(--section-bgc);
}

body>main>form>fieldset input
{
	border-color: hsla(0,0%,100%,1);
	background-color: hsla(205,100%,80%,1);
	transition: border-color 200ms, background-color 200ms;
}

body>main>form>fieldset input:focus
{
	border-color: hsla(0,0%,100%,1);
	background-color: hsla(0,0%,100%,1);
}

code
{
	background-color: hsla(205,100%,70%,1);
}

button
{
	background-color: hsla(205,90%,66%);
	color: hsla(205,100%,100%);
	border-color: hsla(205,100%,80%);
}

button:focus
{
	background-color: hsla(205,100%,80%,1);
}

button:hover
{
	background-color: hsla(0,0%,100%,1);
	color: hsla(205,80%,60%,1);
}
