:root
{
	font-size: calc( 16px + 2.5vmin - 2.5vh );
}

body
{
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100vw;
}

body>footer
{
	grid-row-start: 4;
	text-align: center;
	padding: 1em;
}

h1
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body>header>nav
{
	margin-top: 3em;
	display: flex;
	overflow-x: auto;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

body>header>nav>a
{
	padding: 1em;
	margin: 0.25em;
}

body>main>article
{
	position: relative;
	margin: 1em calc( 20vmax - 20vh + 1em );
	padding: 2em;
}

body>main>article>footer
{
	text-align: right;
}
