body
{
	background-color: hsla(205,52%,24%,1); 
	color: white;
	text-shadow: 0 0.1em 0.2em hsla(205,100%,20%,0.2); 
}

body>main>article
{
	background-color: hsla(205,32%,47%,1);
	box-shadow: 0 0.1em 0.5em hsla(205,100%,20%,0.2); 
}
