body
{
	--body-bgc: hsla(0,0%,93%,1);
	background-color: var(--body-bgc);
	background-image: linear-gradient( 180deg, hsla(0,0%,100%,0.75), transparent 10em );
	color: hsla(0,0%,30%,1);
	font-family: sans-serif;
}

body>header>nav>a
{
	border-radius: 0.25em;
	background-color: hsla(0,0%,100%,0.2);
	transition: background-color 1200ms, box-shadow 1200ms;
}

body>header>nav>a:focus
{
	border-radius: 0.25em;
	background-color: hsla(0,0%,100%,0.6);
	box-shadow: 0 0.05em 0.25em hsla(0,0%,0%,0.05);
	transition: background-color 200ms, box-shadow 200ms;
}

body>header>nav>a:hover
{
	border-radius: 0.25em;
	background-color: hsla(0,0%,100%,1);
	box-shadow: 0 0.05em 0.25em hsla(0,0%,0%,0.1);
	transition: background-color 200ms, box-shadow 200ms;
}

body>header>nav>a:active
{
	border-radius: 0.25em;
	background-color: hsla(0,0%,0%,0.02);
	box-shadow: inset 0 0.05em 0.25em hsla(0,0%,0%,0.1);
	transition: background-color 200ms, box-shadow 200ms;
}

body>main>article
{
	background-color: hsla(0,0%,100%,1);
	box-shadow: 0 0.1em 0.5em hsla(0,0%,0%,0.2);
	border-top-left-radius: 1.5em;
}

body>main>article::before
{
	content: '';
	position: absolute;
	top: 1em;
	left: 1em;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	box-shadow: inset 0 0.1em 0.5em hsla(0,0%,0%,0.2);
	background-color: var(--body-bgc);
}
